<h1><%= t("view.edit.title", model: Todo.model_name.human) %></h1>
<%= render "edit_form", todo: @todo %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: Todo.model_name.human), @todo %> |
  <%= link_to t("view.edit.move_to_index", model: Todo.model_name.human.pluralize), todos_path %>
</div>
