<h1><%= t("view.new.title", model: Todo.model_name.human) %></h1>
<%= render "form", todo: @todo %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: Todo.model_name.human.pluralize), todos_path %>
</div>

<script type="text/javascript">
  document.addEventListener('turbo:load', function() {
    setupTomSelectForSingleSelect();
  });
  document.addEventListener('turbo:render', function() {
    setupTomSelectForSingleSelect();
  });
</script>
